body{
	background-color: #FFFCF9;

}

nav{
	vertical-align: top;
	height: 70px;
	width: 100%;
	text-align: center;
	background-color: #d2bba0;
	font-family: 'Open Sans', sans-serif;
	word-spacing: 10px;
	position: fixed;
	top: 0;
	font-size: 50px;
}
.titlebar{
	padding: 20px 0px;
	
	width: 100%;
	text-align: center;
	background-color: #9f7e69;
	font-family: 'Open Sans', sans-serif;
	word-spacing: 10px;
	font-size: 70px;
	color: #f2efc7;
}
.infobar{

	padding: 10px 0px;
	width: 100%;
	text-align: center;
	background-color: #9f7e69;
	font-family: 'Open Sans', sans-serif;
	word-spacing: 10px;

	font-size: 50px;
	color: #f2efc7;
}
.whtdo{
	height: 500px;
	width: 100%;
	
	background-color: #f2efc7;
	font-family: 'Open Sans', sans-serif;
	word-spacing: 10px;
	font-size: 30px;
	color: #c55bbc;
		width: 50%;
	text-align: center;
}
.header{
	width: 100%;
	padding: 5px;
	
}
.header h1{
	text-align:center;
	padding: 15px;
	
}
.header-sides{
	vertical-align: top;
	display: inline-block;
	margin-right: -4px;
	margin-bottom: -5px;
	width: 50%;
text-align: center;

}
.header-sides p{
	padding: 10px;
text-align: justify;
}

footer{
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #6B5147;
	font-family: 'Open Sans', sans-serif;
	word-spacing: 10px;

}